<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Search Customer</title>
</head>
<body>
 


  <div class="card">
    <div class="card-header">
        <h1>Person--Accounts</h1>
        <h2>Antal balance for this person: {{personantalBalance}}</h2>
        <h3>Surname: {{inforpersonFromDb.Surname}}</h3>
        <h3>GivenName: {{inforpersonFromDb.GivenName}}</h3>
        <h3>City: {{inforpersonFromDb.City}}</h3>
        <h3>NationalId: {{inforpersonFromDb.NationalId}}</h3>



    </div>
    <div class="card-body">
        <table class="table">
            <tr>
               <th>AccountId</th>
               <th>AccountType</th>
                <th>Balance</th>

                
                
            </tr>
            {% for account in account %}      
                <tr>
                    <td><a href="#">{{ account.Id }}</a></td>
                    <td>{{ account.AccountType}}</td>
                    <td>{{ account.Balance}}</td>


                    <td>
                    </td>
                </tr>
            {% endfor %}


            

  










</body>
</html>